.lang-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-width: 1px;
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    max-width: 340px;
}

.lang-card__wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lang-card__img {
    width: 360px;
    height: 340px;
    border-radius: 15px;
}

.lang-card__title {
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.lang-card__desc {
    color: #242424;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.lang-card__info {
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48,48,48,0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lang-card__info-item {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.lang-card__info-item-img {
    width: 16px;
    height: 16px;
}

.lang-card__info-item-text {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.lang-card__price-wrapper {
    display: flex;
    flex-direction: column;
}

.lang-card__price-title {
    line-height: 34px;
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.lang-card__price-desc {
    line-height: 20px;
    color: #242424;
    font-size: 14px;
    font-weight: 400;
}

.lang-card__btn {
    padding: 20px 40px;
}