.ui-select__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: inset 0 0 0 1px #B0B0B0;
    border-radius: 8px;
    padding: 10px;
    min-height: 55px;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #6A6A6A;
}

.ui-select {
    position: relative;
}

.ui-select__img {
    transform: rotate(180deg);
}

.ui-select__content {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    padding: 10px 0;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.ui-select__item {
    font-size: 18px;
    padding: 8px 16px;
}

.ui-select__item--active {
    background-color: #C0C0C0;
}

.ui-select__item:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}