.admin-users {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.admin-users__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-users__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48,48,48,0);
    padding: 15px;
}

.admin-users-card__btn {
    padding: 15px 60px;
}

.admin-users-card__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.admin-users-card__info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.admin-add-course {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 60px;
}

.admin-add-course__forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.admin-add-course__btn {
    border: 1px solid #d2d2d2;
    color: #242424;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 60px;
    padding: 10px 20px;
}