.profile-header {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-header__menu {
    display: flex;
    flex-direction: row;
}

.profile-header__menu-item {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}


.profile-header__menu-item:hover {
    border-bottom: 1px solid #000;
}


.profile-header__menu-item--active {
    border-bottom: 1px solid #000;
}

.main-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 12px;
}

.main-info__btn {
    align-self: start;
}

.payment-info{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 12px;
}

.payment-info__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.security__inputs {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.security {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 0;
}

.buyed-courses {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buyed-courses__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buyed-courses__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48,48,48,0);
    padding: 15px;
}

.buyed-courses-card__btn {
    padding: 15px 60px;
}

.buyed-courses-card__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.buyed-courses-card__info-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}