.logo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.logo__title {
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(45deg, #0057FF 33%, #5a6b8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}