.info-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.info-popup__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 16px;
    background-color: white;
    border-radius: 12px;
    width: 330px;
    padding: 16px;
}

.info-popup__close-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
