.lang-page {
    padding: 20px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lang-page__header {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.lang-page__header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.lang-page-breadcrumb--clickable {
    cursor: pointer;
}

.lang-page-breadcrumb--current {
    color: #0057ff;
}

.lang-page__header-menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.lang-page__header-menu-item {
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    padding: 15px 30px;
    cursor: pointer;
}

.lang-page__header-title {
    line-height: 34px;
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.lang-page__header-desc {
    line-height: 22px;
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.lang-page__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lang-page__offline {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lang-page__section-title {
    color: #242424;
    font-size: 38px;
    font-weight: 600;
}

.lang-page__offline-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.lang-page__online {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.lang-page__online-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.lang-page__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48,48,48,0);
    padding: 15px;
    gap: 15px;
}

.lang-page__info-text {
    line-height: 20px;
    color: #404040;
    font-weight: 400;
    font-size: 14px;
}

.lang-page__info-text-wrapper {
    flex: 1;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48,48,48,0);
    padding: 10px;

}

.lang-page__info-img-wrapper {
    flex: 1;
}