.ui-input-wrapper {
    box-shadow: inset 0 0 0 1px #B0B0B0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}

.ui-input-wrapper--full {
    grid-column: 1 / span 2;
    min-height: 120px;
}

.ui-input-label {
    font-size: 12px;
    font-weight: 400;
    color: #6A6A6A;
}

.ui-input {
    width: 100%;
}

.ui-input--multi {
    height: 200px;
}