.auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.profile {
    display: flex;
    position: relative;
    align-items: center;
    gap: 14px;
    padding: 8px 8px 8px 14px;
    border: 1px solid #dddddd;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1);
    border-radius: 30px;
}

.profile:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.profile__deco {
    width: 16px;
    height: 16px;
}

.profile__img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.header-menu {
    padding: 8px 0;
    right: -1px;
    top: 55px;
    z-index: 2;
    position: absolute;
    min-width: 240px;
    background-color: #dddddd;
    box-shadow: 0 2px 16px rgba(0,0,0,0.12);
    border-radius: 12px;
}



.header-menu__item {
    padding: 12px 16px;
    cursor: pointer;

}

.header-menu__item:hover {
    background-color: #898989;
}

.profile-wrapper {
    position: relative;
}