.start-content {
    padding:  30px 0  120px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.start-content__intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.start-content__intro-main {
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-width: 1px;
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 20px;
}

.start-content__main-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.start-content__img-wrapper{
    flex: 1;
}

.start-content__main-title {
    color: transparent;
    background-image: linear-gradient(0.75turn, rgba(0, 177, 255, 1) 0%, rgba(0, 87, 255, 0.9) 97%);
    -webkit-background-clip: text;
    font-size: 42px;
    text-transform: uppercase;
}

.start-content__main-abilities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.start-content__main-ability {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start-content__ability-img{
    width: 40px;
    height: 40px;
}

.start-content__intro-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    border-width: 1px;
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 20px;
}

.start-content__intro-add-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0);
    padding: 20px;
}

.start-content__intro-item-img {
    width: 16px;
    height: 16px;
}

.start-content__intro-item-text {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.lang-programs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.lang-programs__header{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lang-programs__header-title {
    color: #242424;
    font-size: 38px;
    font-weight: 600;
}

.lang-programs__header-text {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.lang-programs__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.lang-programs__card {
    display: flex;
    gap: 12px;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 15px;
    justify-content: space-between;
    cursor: pointer;
}

.lang-programs__card-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lang-programs__card-adtinfo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.lang-programs__card-adtinfo-item {
    color: #242424;
    font-size: 13px;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 60px;
    background-color: #f5f5f5;
    background-position: center center;
    border-color: #e3e3e3;
    border-style: solid;
    padding: 5px 15px;
}

.lang-programs__card-title {
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.lang-programs__card-text {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.lang-programs__card-img-wrapper {
    width: 149px;
    height: 146px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.reasons__header-title {
    color: #242424;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
}

.reasons__main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 20px;
}

.reasons__main-item {
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 15px;
    line-height: 25px;
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.reasons__info {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 20px;
}

.reasons__info-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.reasons__info-img-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.reasons__info-main {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 15px;
    justify-content: space-between;
}

.reasons__info-main-text {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.feedback__header-title {
    color: #242424;
    font-size: 38px;
    font-weight: 600;
}

.feedback__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-width: 1px;
    border-radius: 15px;
    background-color: #ffffff;
    background-position: center center;
    border-color: #e0e0e0;
    border-style: solid;
    box-shadow: 20px 20px 20px 0px rgba(48, 48, 48, 0.1);
    padding: 20px;
}

.feedback__card-title{
    color: #242424;
    font-size: 24px;
    font-weight: 600;
}

.feedback__card-text {
    color: #242424;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}